@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.main-container {
  display: flex;
  width: 35%;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
}
